.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
}
ul li{
    border-bottom: 1.5px solid #fff;
}
.t-head{
    color: #fff;
    /* color: #000; */
    font-weight: 400;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    background-color: transparent!important;
    text-transform: capitalize;
    padding: 25px 21px;
    line-height: 18px;
    position: relative;
    display: inline-block;
    border-right: 1px solid #fff;
    /*border-right: 1px solid #cccccc45;*/
}


.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}



html,
body {
    height: 100%;
}
nav {
    background-color:white;
    }

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: #6c6f73;
}

h1,h2,h3,h4,h5 {
    color: #333;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

img {
    max-width: 100%;
}

.blockquote {
    font-size: 1.6rem;
    color: #333;
    border: none;
    padding: 0;
}

.blockquote-footer {
    margin: 1rem 0 0;
}


#stage {
    background: url('img/gg.jpg') center center no-repeat;
    background-size: cover;
    color: #333366;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

#stage-caption h1 {
    color: #333355;
    font-weight: bold;
    text-transform: uppercase;
}

.feature-content {
    padding: 8rem 0;
    overflow: hidden;
}

.feature-content img {
    margin-bottom: -8rem;
}

.feature-dark {
    background: #262F36;
    color: white;
}

.feature-dark h2 {
    color: white;
}

.feature-alt {
    background:white;
}

#feature-four .feature-content {
    padding: 0;
}

#feature-five img {
    margin-top: 2rem;
}

#main-footer {
    background: #262F36;
    color: white;
    padding: 6rem 0;
    font-size: 0.8rem;
}

#main-footer h6 {
    color: #718FA9;
}

#main-footer a {
    color: #6C6F73;
}

/* Media Queries */

@media screen and ( min-width : 991px ) {
    
    .feature-content {
        display: flex;
        align-items: center;
    }
    
}
